# Puerto donde Caddy expone el sitio en local.
HTTP_IP_BIND=127.0.0.1:8080

# Puerto UDP del server DNS en dev (5353 para no chocar con systemd-resolved).
DNS_PORT=5353

# Zona autoritativa de dev.
DNS_ZONE=dns-leak.host.com

# Subdominios para ipv4 e ipv6 resolvers
IPV4_HOST=ipv4.host.com
IPV6_HOST=ipv6.host.com

# Rangos de proxies confiables ADICIONALES a las por defecto
TRUSTED_PROXIES="127.0.0.0/8 192.168.0.0/16 ..."

# Para CORS
MAIN_HOST=main.host.com

LOG_LEVEL=INFO

# MaxMind variables
MAXMIND_ACCOUNT_ID=0000000
MAXMIND_LICENSE_KEY=LICENSE
