{
	servers {
		# Necesario para evitar inyecciones de IP falsas y recibir la IP desde proxies inversos
		trusted_proxies static 127.0.0.0/8 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16
		client_ip_headers X-Forwarded-For
	}
}
(cors_headers) {
	header Access-Control-Allow-Origin "https://{env.MAIN_HOST}"
	header Access-Control-Allow-Methods "GET, OPTIONS"
	header Access-Control-Allow-Headers "Content-Type"
	header Timing-Allow-Origin "https://{env.MAIN_HOST}"
}
(cache_dynamic) {
	header Cache-Control "no-cache, no-store, must-revalidate"
	header CDN-Cache-Control "no-cache, no-store, must-revalidate"
	header Pragma "no-cache"
	header Expires "0"
}
(cache_file_server) {
	@assets_immutable path_regexp \.(?i:css|js|mjs|map|woff2?|ttf|otf|eot|png|jpe?g|gif|webp|avif|svg|ico|mp4|webm|mp3|ogg|wasm)$
	header @assets_immutable Cache-Control "public, max-age=31536000, immutable"
	header @assets_immutable CDN-Cache-Control "public, max-age=31536000, immutable"

	@documents not path_regexp \.(?i:css|js|mjs|map|woff2?|ttf|otf|eot|png|jpe?g|gif|webp|avif|svg|ico|mp4|webm|mp3|ogg|wasm)$
	header @documents Cache-Control "public, max-age=300, must-revalidate"
	header @documents CDN-Cache-Control "public, max-age=300, must-revalidate"
}
(to_api) {
	@limit not path /ready /info
	rate_limit @limit {
		zone by_ip {
			key {client_ip}
			events 60
			window 1m
		}
	}
	import cors_headers
	import cache_dynamic
	reverse_proxy api:8000 {
		header_up X-Forwarded-For {client_ip}
	}
}

:80 {
	encode

	@api_paths {
		path /ip /ip/* /dns-leak /dns-leak/* /client /client/* /ready /info /all
	}
	handle @api_paths {
		import to_api
	}

	@api_hosts {
		host {env.IPV4_HOST} {env.IPV6_HOST}
	}
	handle @api_hosts {
		import to_api
	}

	@cli_client expression `header_regexp('User-Agent', '(?i)(curl|wget|python|httpie|aria2)') || !header({'User-Agent': '*'})`
	handle @cli_client {
		import to_api
	}

	handle {
		@insecure header X-Forwarded-Proto http
		redir @insecure https://{host}{uri} permanent

		import cache_file_server
		respond "main web" 200
	}
}
